
input {
  border: 0;
  font: inherit;
}
input::placeholder {
  color: #7e8ba3;
}

.login {
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem;
  color: rgb(48, 132, 104);
}
.login input {
  border: 1px solid #242c37;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
}
.login input[type="email"], login input[type="password"] {
  background-repeat: repeat;
  background-size: 1.5rem;
  background-position: 1rem 50%;
}


