
input {
    border: 0;
    font: inherit;
  }
  input::placeholder {
    color: #7e8ba3;
  }
  
  .header {
    box-shadow: 0 0 2.5px #000;
    text-align: center;
    /* padding: 4rem 2rem; */
    color: rgb(46, 53, 51);
  }
  .header input {
    border: 1px solid #242c37;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
  }
  .header input[type="email"], header input[type="password"] {
    background-repeat: repeat;
    background-size: 1.5rem;
    background-position: 1rem 50%;
  }
  
  
  .img{
    float: left;
    height: 70px;
    width: 60px;
  }